/.gradle/
/buildSrc/.gradle/
/local.properties
/IO.Socket echo/node_modules
/build-logic/.gradle/
/.idea/
/example/src/main/.DS_Store

/convertors/KotlinxSerialization/build/
/build-logic/convention/build/
/build-logic/publisher/build/
/convertors/Gson/build/
/moon/throwable/build/
/build-logic/build/
/moon/moon/build/
/buildSrc/build/
/moon/ktx/build/
/example/build/
/build/
